/* Reset margin and padding for the entire page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Navigation */
#navbar {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
}

.logo {
    margin: auto;
}

.logo img {
    max-height: 50px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-left: 20px;
    display: flex;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #007bff;
}

/* Hero Section */
.hero-section {
    background-image: url(/images/slide2.jpg);
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

.hero-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.hero-text {
    flex: 1;
    max-width: 600px;
    margin-right: 20px;
    padding-top: 10px;
}

.hero-text h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    padding-top: 164px;

}

.hero-text p {
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background-color: #fff;
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: #81aadf;
    color: #fff;
}



/* About Us Section */
.section {
    padding: 80px 0;
    background-color: #fff;
    text-align: center;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.section p {
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    color: #333;
}

/* Services Section */
.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin-top: 50px;
}

.service {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}

.service:hover {
    transform: translateY(-10px);
}

.service-icon {
    margin-bottom: 20px;
}

.service-icon img {
    max-width: 50px;
}

.service h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.service p {
    font-size: 1rem;
    line-height: 1.6;
}

/* Contact Section */
.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-image {
    flex: 1;
    margin-right: 20px;
}

.contact-image img {
    width: 100%;
    height: auto;
}

.contact-form {
    flex: 1;
    background-color: #bed8d6d3;
    padding: 20px;
    border-radius: 10px;
}

.contact-form h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-group {
    flex: 1;
    margin-right: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 120px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #a6d5e0;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6fc7ce;
}

/* Footer Section */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}
footer a{
color: #a6d5e0;}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #ebcccc;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 999;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
    }

    .nav-links.active {
        opacity: 1;
        pointer-events: auto;
    }

    .nav-links li {
        margin-left: 0;
        text-align: center;
        padding: 10px 0;
    }

    .hero-text h1 {
        font-size: 2rem;
    }

    .hero-text p {
        font-size: 1rem;
    }

  
    .services-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
    }

    .contact-content {
        flex-direction: column;
    }

    .contact-image {
        margin-bottom: 20px;
    }
}
